{
    "env": {
        "es6": true,
        "node": true,
        "react-native/react-native": true
    },
    "plugins": [
        "@typescript-eslint",
        "react",
        "react-native",
        "react-hooks",
        "@react-native-community",
        "jsx-a11y",
        "no-secrets",
        "prettier"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react-native-a11y/all",
        "prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2022,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "prettier/prettier": [2, {
            "arrowParens": "always",
            "semi": false,
            "singleQuote": true,
            "trailingComma": "es5",
            "printWidth": 120
        }, { "usePrettierrc": false }],
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-unused-vars": ["warn", { "ignoreRestSiblings": true, "varsIgnorePattern": "_" }] 
    }
}