node_modules/

# Expo
.expo/

# macOS
.DS_Store

# vscode
.vscode

# turborepo
.turbo

# next.js
**/public/workbox-*.js
**/public/workbox-*.js.map
**/public/sw.js
**/public/sw.js.map
**/public/fallback-*.js
