name: Linting
on: [push]
jobs:
  check-linting:
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 18.x
          cache: yarn

      - name: Install packages
        run: yarn install --immutable

      - name: Run linting
        run: yarn lint
